        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>

        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
