header{
    display: flex;
    background-color: #2874f0;
    color: white;
    height: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#navbar{
    background-color: rgb(100, 160, 255);
}
ul{
    li{
        display: inline;
        margin-right: 20px;
        font-size: 18px;
        a{
            text-decoration: none;
            color: white;
        }
    }
}