#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 60%;
    padding: 10px; }

#user-friends {
  width: 40%;
  padding: 10px;
  border-left: 1px solid lightgrey;
  height: 100%; }

input[type=submit] {
  background-color: #fb641b;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer; }
